-
	var navIndex = [{
		name: 'Мои работы', 
		url: '/works'},
		{
			name: 'Обо мне',
			url: '/about'},
		{
			name: 'Блог',
			url: '/blog'}]
-
	var navList = [{pageUrl: '/works', title: 'мои работы'},
		{pageUrl: '/blog', title: 'блог'},
		{pageUrl: '/about', title: 'обо мне'},
		{pageUrl: '/login', title: 'авторизация'}]