<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title #{title}
    link(rel="icon" type="image/png" sizes="16x16" href="icons-e37e1b74e0ab6134f431d1e0ff2f44e4/favicon-16x16.png")
    link(rel="shortcut icon" href="icons-e37e1b74e0ab6134f431d1e0ff2f44e4/favicon.ico")
    style .svg-use,.svg_next{max-width: 2rem;}
    link(rel='stylesheet' href='/assets/css/normalize.css')
    link(rel='stylesheet' href='/assets/css/styles.admin.css')
  body
    #admin-app
  script(src='/app/common.bundle.js')
  script(src='/app/admin.bundle.js')